# === BNB Smart Chain Testnet (chainId 97) ===
BSC_TESTNET_RPC=https://bsc-testnet-rpc.publicnode.com

# Etherscan V2 API key (satu key jalan di semua chain, termasuk BNB Testnet). Buat verify.
ETHERSCAN_API_KEY=IJXBPREUIGVNYITJCTA1PPABXHSMUZEUIV

# Private key wallet DEV (isinya cuma tBNB, JANGAN wallet utama). Dipakai script deploy buat sign.
PRIVATE_KEY=0x8c85def7ee5386521955ca0710b367445367c92b06db706eb3683a4ae26d3e8c

# Alamat RewardToken hasil DeployRewardToken. Isi SETELAH deploy token; dipakai DeployBountyEscrow.
REWARD_TOKEN=0x17a9f5ba4B6E0c7307a55DC796151055cB0e25Be

ORACLE_ADDRESS=0xD6BaBa5e61aCff78791952a44C1Fa6ef491889E7

BOUNTY_FACTORY=0xEEEead8E6F44eBEDa98F8e90413b2031A88089006